body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-family: sans-serif;
  background-color: #e1e1e1;
  margin: 0;
  padding: 0;
}

header {
 
  margin: 0;
  padding: 0;
  width: 100%;
  height: 150px;
  background-color: rgba(0, 0, 0, 0.8);
  position: relative;
}

#app {

  margin-top: 2em;
  width: 45vw;
  padding: 1rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: flex-start;

}

p {
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  margin: 4px;
  border: 1px solid black;
  border-radius: 10px;
  line-height: 0;
  font-weight: 500;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.2em;


}

h1 {
  display: inline-block;
  width: 100%;
  text-align: center;
  color: white;
  font-size: 3em;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #e3e3e3;
  z-index: 1;
  margin: 10px 0;
  padding: 0;

}

span {
  font-weight: 100;
  font-size: 0.8em;
  font-style: italic;

}

#button {

  text-align: center;

}

#button button {
  width: 200px;
  height: 50px;
  border: 2px solid rgb(14, 99, 14);
  border-radius: 5px;
  color: rgb(14, 99, 14);
  font-weight: 700;
  font-size: 1.5em;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  outline: none;
  cursor: pointer;

}

#button button:hover {
  background-color: rgb(14, 99, 14);
  color: white;
  border: 2px solid white;
}


.itemRandom {
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  margin: 4px;
  border: 1px solid black;
  border-radius: 10px;
  line-height: 0;
  font-weight: 500;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.2em;
  background-color: rgba(15, 116, 15, 0.8)
}