html { 
    
    background: url(background.jpg) no-repeat center center fixed;
    

    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;    
    background-size: cover;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    
  }